body {
    background-color: #E0E0E0;
    background-image: url('../images/bg-image.jpg');
}
.container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.inner-container {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #413c58;
    border-radius: 10px;
    padding: 10px 0;
}
.title {
    margin-bottom: 5px;
    padding: 5px;
    color: #e7efc5;
}
.title span {
    font-weight: bolder;
    font-size: 150%;
}
.form-block {
    margin: 10px;
}
.form-block form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 5px;
}
label {
    color: #e7efc5;
}
.simple-input {
    border: none;
    border-radius: 10px;
    padding: 5px;
    background-color: #e7efc5;
    color: #fff;
}
::placeholder {
    color: #413c58;
    opacity: .5;
  }
.btn {
    border: none;
    background-color: #a3c4bc;
    color: #413c58;
    border-radius: 5px;
    padding: 4px 20px;
    cursor: pointer;
}
.card {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-radius: 10px;
    padding: 20px;
    background-color: #f2dda4;
}
.image-wrapper {
    margin: 5px;
}
.information {
    margin-bottom: 10px;
}
.information__city {
    font-weight: bolder;
    font-size: 110%;
}
.information__description {
    font-style: italic;
}
.temperature__real {
    text-align: center;
    font-size: 150%;
}
.card-block {
    width: 65%;
    margin-bottom: 5px;
}
.other__properties {
    margin-top: 5px;
}
.image__icon {
    width: 60px;
}
.message-block {
    color: #f2dda4;
    padding: 2px 5px;
    text-align: center;
    margin-top: -10px;
    font-style: italic;
}

@media (max-width: 1000px) {
    .inner-container {
        width: 60%;
    }
}

@media (max-width: 600px) {
    .inner-container {
        width: 80%;
    }
}

@media (max-width: 400px) {
    .inner-container {
        width: 90%;
    }
}